{%extends 'controller.html'%}
{%block content%}
    <!--table-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
    {{crumbname}} Data Table
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="custom-link nav-link {%if data=='users'%} active {%endif%}"  id="bin-team-members" href="{{url_for('get_bin',data_requested='team_members')}}">Deleted Users</a>
            </li>
            <li class="nav-item">
                <a class="custom-link nav-link {%if data=='teams'%} active {%endif%}" id="bin-teams" href="{{url_for('get_bin',data_requested='teams')}}">Deleted Teams</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <form action="#" method="POST">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="binTable" width="100%" cellspacing="0">
            <thead>             
                <tr>
                    {%for key in keys%}
                        {%if key != "_id"%}
                        <th>{{key|capitalize}}</th>
                        {%endif%}
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for item in items%}
                    {%if data=="users"%}
                    <tr>
                        <td>{%if item.email%}{{item.email}}{%else%}No Data {%endif%}</td> 
                        <td>{%if item.role%}{{item.role}}{%else%}No Data {%endif%}</td>
                        <td>{%if item.approver%}  <p class="text-success">yes</p>{%else%} <p class="text-danger">no</p>{%endif%}</td>
                        <td>{%if item.team%}{{item.team}}{%else%}No Data {%endif%}</td>
                    </tr>
                    {%else%}
                    <tr>
                        <td>
                            {%if item.name is defined and item.name%}
                                {{item.name}}
                            {%else%}
                                No Data
                            {%endif%}
                        </td>
                        <td>
                            {%if item.users is defined and item.users%}
                                {%for n in item.users%} 
                                    {%if loop.last%} 
                                        {{loop.index}}
                                    {%endif%}
                                {%endfor%}
                            {%else%}
                                No data
                            {%endif%}</td>
                    </tr>

                    {%endif%}
                {%endfor%} 
            </tbody>
            </table>
        </div>
        </form>
    </div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script>
    $(document).ready(function(){
        $("#binTable").DataTable({
            "paging": false,
            "info": false
        });
    });
</script>
{%endblock%}