
{%block breadcrumb%}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="custom-link" href="{{url_for('dashboard')}}">Dashboard</a></li>
    <!-- breadcrumb text based on variable from app.py -->
    {%if crumbname|default and crumbname=="to_be_approved"%}
        <li class="breadcrumb-item">New Approval Requests</li>
    {%elif crumbname|default and crumbname=="approved_requests"%}
        <li class="breadcrumb-item"> Approved Requests</li>
    {%elif crumbname|default and crumbname=="all_requests"%}
        <li class="breadcrumb-item">All Requests</li>
    {%elif crumbname|default and crumbname=="rejected_requests"%}
        <li class="breadcrumb-item">Rejected Requests</li>
    {%elif crumbname|default%}
        <li class="breadcrumb-item">{{crumbname}}</li>
    {%else%}
        <li class="breadcrumb-item">Overview</li>
    {%endif%}
</ol>
{%endblock breadcrumb%}