{%block calendar%}
{%if dayNames%}
<!-- calendar with css grid, alternative solution to be found for IE not accepting css grid 'repeat' -->
<div id="calendar-wrapper" class="card mb-3">
    <div class="card-header">
        {%if selected_date%}{{selected_date.strftime("%d-%m-%y")}} 
        <a href="{{url_for('calendarview',year=year, month=input_month)}}" class=" float-right mr-3 custom-link">Check all {{month_name}}'s requests</a> 
        {%else%}{{month_name}} {{year}}{%endif%} Leave Requests Calendar
    </div>
    <div class="card-body">
        <div class="card-title pb-0 mb-0">
            <div class="row">
                <div class="col-md-12 m-0 p-0 text-center">
                    <!-- refer to calendar.py for logic -->
                    <a href="{{url_for('calendarview',year=year, month=input_month-1)}}" class="btn btn-primary text-white font-weight-bold" id="prev-month">Prev</a>
                    <p class="d-inline-block text-center font-weight-bold custom-font-mobile">{{month_name}} {{year}}</p>
                    <a href="{{url_for('calendarview',year=year, month=input_month+1)}}" class="btn btn-primary text-white font-weight-bold" id="next-month">Next</a>
                </div>                
            </div> 
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-xs-12 mb-0">
                <div class="bg-light p-1">
                    <div id="calendar-header" class="calendar-header">               
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <div id="mycalendar" class="calendar-container border">
                                    <calendar class="calendar">
                                        {%for dayName in dayNames%}
                                            <div class="day font-weight-bold">{{dayName}}</div>
                                        {%endfor%}
                                        {%for date in days%}
                                        <a class="day-link" href="{{url_for('calendarview',year=year, month=input_month,day=date.strftime('%d'))}}">
                                            <div class="day {%if  month != date.strftime('%m')%} bg-secondary text-white{%elif not selected|default and today.strftime('%d%m%y') == date.strftime('%d%m%y')%} bg-primary text-white{%else%} {%endif%} ">
                                                {{date.strftime("%d")}} 
                                            </div>
                                        </a>   
                                        {%endfor%}  
                                    </calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/calendarview.js')}}"></script>
{%endif%}

{%endblock calendar%}