{% extends 'base.html'%}

{%block controller%}

{%include 'breadcrumb.html' with context%}
  
<div class="row mb-5">
    <div class="col-xl-12 col-sm-12">
        <div class="card bg-light h-100">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="leave_request_menu">Leave Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="manage_team_menu">Manage Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body" id="leave_request">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="all_requests_form" action="{{url_for('leave_requests_datatable',status='all_requests')}}" method="POST">
                            <div class="card text-white bg-info o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-user"></i>
                                    </div>
                                    <div class="mr-5">All Requests <span class="badge badge-pill badge-light ml-3">{{requests.all_requests}}</span></div>
                                </div>
                                <a id="all_requests" class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="to_be_approved_form" action="{{url_for('leave_requests_datatable',status='to_be_approved')}}" method="POST">
                            <div class="card text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-calendar-alt"></i>
                                </div>
                                <div class="mr-5"> New Requests <span class="badge badge-pill badge-light ml-3">{{requests.to_be_approved}}</span></div>
                            </div>
                                <a id="to_be_approved" type="submit" class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="approved_requests_form" action="{{url_for('leave_requests_datatable',status='approved_requests')}}" method="POST">
                            <div class="card text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                <i class="fas fa-fw fa-calendar-check"></i>
                                </div>
                                <div class="mr-5">Approved Requests <span class="badge badge-pill badge-light ml-3">{{requests.approved}}</span></div>
                            </div>
                            <a id="approved_requests" class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="rejected_requests_form" action="{{url_for('leave_requests_datatable',status='rejected_requests')}}" method="POST">
                            <div class="card text-white bg-danger o-hidden h-100">
                                <div class="card-body">
                                    
                                    <div class="card-body-icon">
                                    <i class="fas fa-fw fa-calendar-times"></i>
                                    </div>
                                    <div class="mr-5">Rejected Requests <span class="badge badge-pill badge-light ml-3">{{requests.rejected}}</span></div>
                                </div>
                                <a id="rejected_requests" class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="card-body d-none" id="manage_team">
                <div class="row">   
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="" action="" >
                            <div class="card text-white bg-info o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-users"></i>
                                    </div>
                                    <div class="mr-5">All Teams</div>
                                </div>
                                <a id="" class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="" action="">
                            <div class="card text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-fw fa-user-friends"></i>
                                </div>
                                <div class="mr-5">Your Team(s)</div>
                            </div>
                                <a id="to_be_approved" type="submit" class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="" action="">
                            <div class="card text-dark bg-light o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                <i class="fas fa-fw fa-user-plus"></i>
                                </div>
                                <div class="mr-5">Add new Team</div>
                            </div>
                            <a id="" class="card-footer text-dark clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <form id="" action="">
                            <div class="card text-white bg-secondary o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                <i class="fas fa-fw fa-users-cog"></i>
                                </div>
                                <div class="mr-5"> Edit Team</div>
                            </div>
                            <a id="" class="card-footer text-white clearfix small z-1" href="#">
                                <span class="float-left">View Details</span>
                                <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{%block content%}
{%endblock%}

<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script>
    
    $(document).ready(function(){
        $('#all_requests').click(function(event){
            event.preventDefault();
            $('#all_requests_form').submit();
            return false;
        })

        $('#to_be_approved').click(function(event){
            event.preventDefault();
            $('#to_be_approved_form').submit();
            return false;
        })

        $('#approved_requests').click(function(event){
            event.preventDefault();
            $('#approved_requests_form').submit();
            return false;
        })

        $('#rejected_requests').click(function(event){
            event.preventDefault();
            $('#rejected_requests_form').submit();
            return false;
        })
        $("#leave_request_menu").click(function(){
            $(this).addClass("active");
            $("#manage_team_menu").removeClass("active");
            $("#leave_request").removeClass("d-none")
            $("#manage_team").addClass("d-none");

        })
        $("#manage_team_menu").click(function(){
            $(this).addClass("active");
            $("#leave_request_menu").removeClass("active");
            $("#leave_request").addClass("d-none");
            $("#manage_team").removeClass("d-none")
        })
        
    })
</script>    
{%endblock controller%}
    
    
