{%extends 'controller.html'%}
{%block content%}
<!-- leave request card -->
<div class="card mb-3">
    <div class="card-header">
        <i class="#"></i>
        Leave Request Form
    </div>
    <div class="card-body">
        <!-- leave request form -->
        <!-- custom vaidation in leave-request.js -->
        <form action="{{url_for('insert_leave_request')}}" method="POST" autocomplete="off">
            {%set _rew_teams=teams.rewind()%}
            {%for elem in selected_team%} 
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div>Team: </div>
                    <div class="mt-1 ml-2">{{elem.name|title}}</div>
                </div>
                {%if user%}
                <div class="form-group col-md-6">
                    <input class="d-none" type="text" name="user_id" value={{(elem.users|selectattr('email','equalto',user)|list|first).userId}}>
                    User Email: 
                    <div class="mt-1 ml-2">{{(elem.users|selectattr('email','equalto',user)|list|first).email}}</div>
                </div> 
                {%else%}
                <div class="form-group col-md-6">
                    <label for="team-users-select">{{elem.name|title}} Users</label>
                    
                    <select class="form-control" name="user_id" id="team-users-select" required>
                        {%for user in elem.users%} 
                            <option value="{{user.userId}}">{{user.name|title}} {{user.surname|title}}</option>
                        {%endfor%}
                    </select>
                </div>
                {%endif%}  
            </div>
            {%endfor%}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Date Request: From</label>
                    <input class="form-control datepicker-container" name="from" type="text" placeholder="From date" id="from" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="to">Date Request: To</label>
                    <input class="form-control datepicker-container" name="to" type="text" placeholder="To date" id="to" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="reason">Reason</label>
                    <select class="form-control" name="reason" id="reason"> 
                        <option>Select Reason</option>
                        <option>Annual Leave</option>
                        <option>Sick Leave</option>
                        <option>Study Leave</option>
                        <option>Charity Leave</option>
                        <option>Maternity Leave</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" name="comments" type="text" placeholder="Comments" id="comments" rows="3"></textarea>
                </div>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary" >Submit Request</button>
        </form>
    </div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/leave-request.js')}}">

</script>
{%endblock%}