{%extends 'controller.html'%}
{%block content%}
<div class="card mb-3">
    <div class="card-header">
        <i class="#"></i>
        Leave Request Form
    </div>
    <div class="card-body">
        <form action="{{url_for('insert_leave_request')}}" method="POST" autocomplete="off">
            {%set _rew_teams=teams.rewind()%}
            {%for elem in selected_team%} 
            <div class="form-row">

                <div class="form-group col-md-6">
                    <div>Team: </div>
                    <div class="mt-1 ml-2">{{elem.name|title}}</div>
                </div>
                {%if user%}
                <div class="form-group col-md-6">
                    <input class="d-none" type="text" name="user_id" value={{(elem.users|selectattr('email','equalto',user)|list|first).userId}}>
                    User Email: 
                    <div class="mt-1 ml-2">{{(elem.users|selectattr('email','equalto',user)|list|first).email}}</div>
                </div> 
                {%else%}
                <div class="form-group col-md-6">
                    <label for="team-users-select">{{elem.name|title}} Users</label>
                    
                    <select class="form-control" name="user_id" id="team-users-select" required>
                        {%for user in elem.users%} 
                            <option value="{{user.userId}}">{{user.name|title}} {{user.surname|title}}</option>
                        {%endfor%}
                    </select>
                </div>
                {%endif%}  
            </div>
            {%endfor%}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="from">Date Request: From</label>
                    <input class="form-control datepicker-container" name="from" type="text" placeholder="From date" id="from" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="to">Date Request: To</label>
                    <input class="form-control datepicker-container" name="to" type="text" placeholder="To date" id="to" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="reason">Reason</label>
                    <select class="form-control" name="reason" id="reason"> 
                        <option>Select Reason</option>
                        <option>Annual Leave</option>
                        <option>Sick Leave</option>
                        <option>Study Leave</option>
                        <option>Charity Leave</option>
                        <option>Maternity Leave</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" name="comments" type="text" placeholder="Comments" id="comments" rows="3"></textarea>
                </div>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary" >Submit Request</button>
        </form>
    </div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script>
    $(document).ready(function(){
        checkValidity()
        function checkValidity(){
            const dateFrom=$('#from').val();
            const dateTo=$('#to').val();
            const dateError = $('#date-error');
            const selectedError = $('#select-error');
            if(dateFrom=="" && dateTo==""){
                let error= `<p id="no-dates" class="text-warning">Select dates please</p>`
                $('#submit-button').attr('disabled',true);
                $('#submit-button').after(error)
                console.log(dateFrom + " " + dateTo)
            }else{
                $('#no-dates').remove()
            }
            if(dateError.hasClass('text-warning')){
                $('#submit-button').attr('disabled',true);
            }else if(dateError.hasClass('text-danger')){
                $('#submit-button').attr('disabled',true);
            }else if(selectedError.hasClass('text-danger')){ 
                $('#submit-button').attr('disabled',true);
            }else{
                $('#submit-button').attr('disabled',false); 
            }
        }
        $('#from, #to').on('change',function(){
            let def=$.Deferred();
            const dateFrom=$('#from').val();
            const dateTo=$('#to').val();
            const fromArray=dateFrom.replace(/-/g,',').split(",")
            const toArray=dateTo.replace(/-/g,',').split(",")
            const _from=new Date(fromArray[2],fromArray[1],fromArray[0]).valueOf()
            const _to=new Date(toArray[2],toArray[1],toArray[0]).valueOf()
            let error=`<p id="date-error" class="text-danger">'From' is greater than 'To'. please check selected dates</p>`
            if(_from <= _to && (!isNaN(_from) && !isNaN(_to))){
                $('#date-error').remove()
                def.resolve()

            }else if(isNaN(_from) || isNaN(_to)){
                error=`<p id="date-error" class="text-warning">Please select one more date</p>`
                $('#date-error').remove()
                $('#submit-button').after(error)
                def.resolve()
 
            }
            else{
                $('#date-error').remove()
                $('#submit-button').after(error)
                def.resolve()

            }
            def.done(function(){checkValidity()})
        })
        if($('#reason').val()=='Select Reason'){
            let error=`<p id="select-error" class="text-danger">Reason not selected</p>`
            $('#select-error').remove()
            $('#reason').after(error)
            
        }
        $('#reason').change(function(){
            const dateError = $('#data-error');
            const selectedError = $('#select-error');
            let error=`<p id="select-error" class="text-danger">Reason not selected</p>`
            const def=$.Deferred()
            if($(this).val()=='Select Reason'){
                $('#select-error').remove()
                $('#reason').after(error) 
                def.resolve()
                         
            }else{
                $('#select-error').remove()
                def.resolve()
          
            }
            def.done(function(){checkValidity()})
        })
        
    })
</script>
{%endblock%}