{%extends 'controller.html'%}
{%block content%}
{%include 'calendarview.html' with context%}
    <!--table-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Leave Requests{%if month_name%}: <em><u>{{month_name}} {{year}}</u></em>{%else%} Data Table {%endif%}
  </div>
  <div class="card-body">
    <form action="#" method="POST">
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Leave From/To</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Leave From/To</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </tfoot>
          <tbody>
            {%if showTable%}
              {%set _rew=users.rewind()%}
              {%for user in users%}
              <tr>
                <td>{{user.name}} {{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.team}}</td>
                <td>{{user.role}}</td>
                <td>{{user.leave_request[-1].from.strftime('%d-%m-%y')}} to 
                    {{user.leave_request[-1].to.strftime('%d-%m-%y')}}</td>
                {%if user.leave_request[-1].approved%}
                <td class="text-success">
                  Approved
                </td>
                {%elif user.leave_request[-1].rejected%}
                <td class="text-danger">
                  Rejected  
                </td>
                {%elif user.leave_request[-1].deleted%}
                <td class="text-info">
                  Deleted  
                </td>
                {%else%}
                <td class="text-warning">
                  Awaiting for approval  
                </td>
                {%endif%}
              </tr>

              {%endfor%} 
            {%else%}
              {%set _rew=userslist.rewind()%}
              {%for request in userslist%} 
              <tr>
                  <td>{{request.name}} {{request.surname}}</td>
                  <td>{{request.email}}</td>
                  <td>{{request.team}}</td>
                  <td>{{request.role}}</td>
                  <td>
                      {{request.leave_request[-1].from.strftime('%d-%m-%y')}} to {{request.leave_request[-1].to.strftime('%d-%m-%y')}}
                  </td>
                  {%if request.leave_request[-1].approved%}
                  <td class="text-success">
                    Approved
                  </td>
                  {%elif request.leave_request[-1].rejected%}
                  <td class="text-danger">
                    Rejected  
                  </td>
                  {%elif request.leave_request[-1].deleted%}
                  <td class="text-info">
                    Deleted  
                  </td>
                  {%else%}
                  <td class="text-warning">
                    Awaiting for approval  
                  </td>
                  {%endif%}
                  <td>
                    <i data-toggle="modal" data-target="#exampleModal" class="fas fa-info-circle"></i>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header text-center">
                              <h5 class="modal-title" id="exampleModalLabel">{{request.name}} {{request.surname}}'s leave request</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body pb-0">
                              <div class="row"><div class="col"><strong>Comments:</strong></div></div>
                              <div class="row">
                                <div class="col pt-3 border-top border-right">{{request.leave_request[-1].comments}}</div>
                                <div class="col-xl-6 col-sm-6 col-xs-6">
                                  <div class="row">
                                    <div class="col-xl-12 col-sm-12 col-xs-12 pt-3 mb-3 pb-3 border-top border-bottom">
                                      <button type="button" class="btn btn-success">Approve</button>
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-3 pb-3 border-bottom">
                                        <button type="button" class="btn btn-danger">Reject</button>
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 pb-3">
                                        <button type="button" class="btn btn-warning">Delete</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>

              </tr>
              {%endfor%}
            {%endif%}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

{%endblock content%}

