{%extends 'controller.html'%}
{%block content%}
{%include 'calendarview.html' with context%}
<!--leave request table card-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
  {{crumbname.replace("_"," ").title()}} Data Table
  </div>
  <div class="card-body">
    <!--leave request table form -->
    <form action="#" method="POST">
      <!-- leave request table: datatable.js -->
      <div class="table-responsive table-sm">
        <table class="table table-bordered text-center" id="dataTable" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Reason</th>
              <th>Leave From/To</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Reason</th>
              <th>Leave From/To</th>
              <th>Status</th>
              <th>Details</th>
            </tr>
          </tfoot>
          <tbody>
          {%set _rew=userslist.rewind()%}
          {%for request in userslist%}
            {%for leave in request.leave_request%} 
              {%if (calendar and (month_start <=leave.from <=month_end or month_start<=leave.to<=month_end)) or 
              (not filtered and not calendar) or 
              (leave[approval] and filtered) or 
              (leave.approved==false and leave.rejected ==false and approval=="to_be_approved") or 
              selected_date and (leave.from <= selected_date <= leave.to and selected_date)%}
                <tr>
                  <td>{{request.name|title}} {{request.surname|title}}</td>
                  <td>{{request.email}}</td>
                  <td>{{request.team|title}}</td>
                  <td>{{request.role|title}}</td>
                  <td>{{leave.reason}}</td>
                  
                  <td>
                      {{leave.from.strftime('%d-%m-%y')}} to {{leave.to.strftime('%d-%m-%y')}}
                  </td>
                    {%if leave.approved%}
                    <td class="text-success">
                      Approved
                    </td>
                    {%elif leave.rejected%}
                    <td class="text-danger">
                      Rejected  
                    </td>
                    {%elif leave.deleted%}
                    <td class="text-info">
                      Deleted  
                    </td>
                    {%else%}
                    <td class="text-warning">
                      Awaiting for approval  
                    </td>
                    {%endif%}
                  <td>  
                  {%endif%}
                <a id="user-info" href="#user-{{loop.index}}-info" class="custom-link"><i data-toggle="modal" data-target="#modal_{{leave._leaveId}}" class="fas fa-info-circle"></i></a> 
                <!-- info form with start of approval flow -->
                <div class="modal fade" id="modal_{{leave._leaveId}}" tabindex="-1" role="dialog" aria-labelledby="label_modal_{{leave._leaveId}}" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <h5 class="modal-title" id="label_modal_{{leave._leaveId}}">{{request.name}} {{request.surname}}'s leave request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal_approval_choice modal-body pb-0">
                        <div class="row"><div class="col"><strong>Comments:</strong></div></div>
                        <div class="row">
                          <div class="col pt-3 border-top border-right">{%if leave.comments%}{{leave.comments}}{%else%}No comments {%endif%}</div>
                          <div class="col-xl-6 col-sm-6 col-xs-6">
                            <div class="row">
                              {%if leave.approved %}
                              <div class="col-xl-12 col-sm-12 col-xs-12 pt-3 mb-3 pb-3 border-top border-bottom text-center">
                                <p class="text-success">Already Approved!</p>
                              </div>
                              {%elif leave.rejected%}
                              <div class="col-xl-12 col-sm-12 col-xs-12 pt-3 mb-3 pb-3 border-top border-bottom text-center">
                                <p>This Leave Request has been <em class="text-danger">rejected.</em></p>
                                <p>see comments</p>
                              </div>
                              {%elif leave.deleted%}
                              <div class="col-xl-12 col-sm-12 col-xs-12 pt-3 mb-3 pb-3 border-top border-bottom text-center">
                                <p>This Leave Request has been <em class="text-warning">cancelled..</em></p>
                              </div>
                              {%else%}
                                <div class="col-xl-12 col-sm-12 col-xs-12 pt-3 mb-3 pb-3 border-top border-bottom">
                                  <button type="button" class="approve btn btn-success" value="approved">Approve</button>
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 mb-3 pb-3 border-bottom">
                                    <button type="button" class="reject btn btn-danger" value="rejected">Reject</button>
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 pb-3">
                                    <button type="button" class="delete btn btn-warning" value="deleted">Cancel</button>
                                </div>
                              {%endif%}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- approval form -->
                      <form class="approval_modal_form" action="{{url_for('get_approval',status=crumbname)}}" method="POST">
                        <div class="confirmation modal-body pb-0">
                          <p>Please confirm your selection</p>
                            <input name="user_id" class="d-none" type="text" value="{{request._id}}">
                            <input name="leave_id" class="d-none" type="text" value="{{leave._leaveId}}">
                            <input name="approval" class="input_approval d-none" type="text" value="">   
                        </div>
                        <div class="confirmation modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                            <button type="button" class="modal_back_to_choice btn btn-secondary">Back</button>
                            <button type="submit" class="approval_submit btn btn-primary">Confirm</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {%endfor%}
          {%endfor%}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
<script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/leave-request-table.js')}}">
</script>
{%endblock content%}

