{%extends 'controller.html'%}
{%block content%}
{%include 'calendarview.html' with context%}
    <!--table-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Teams Data Table
  </div>
  <div class="card-body">
    <form action="#" method="POST">
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="teamstable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Leave From/To</th>
              <th>Status</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Team</th>
              <th>Role</th>
              <th>Leave From/To</th>
              <th>Status</th>
            </tr>
          </tfoot>
          <tbody>


          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>

{%endblock content%}